<h2>User Profile</h2>
<input type="text">
<input type="text">
<input type="password">
<input type="password">
<h2>User Permissions</h2>
<ul>
  <li>View Dashboards</li>
  <li>Edit Dashboards</li>
  <li>Manage Datasources</li>
  <li>Manage Users</li>
</ul>
<h2>User Permissions</h2>
<ul>
  <li>View Dashboards</li>
  <li>Edit Dashboards</li>
  <li>Manage Datasources</li>
  <li>Manage Users</li>
</ul>
<h2>Effective Permissions</h2>
<h2>Group Memberships</h2>
<input type="text">
<ul>
  <li>Administrator</li>
</ul>
